#loading {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

.sp-thongbao {
  color: red;
  margin-left: 2px;
  display: none;
}

.sp-show-thongbao {
  color: red;
  margin-left: 2px;
}
